
table {
    border-spacing: 0 6px;
}

td{
    padding: 10px 0 10px 0;
    text-align: center;
}

.memberContainer{
    display: flex;
    justify-content: center;
}

.tableContainer{
    max-width: 1024px;
    width: 100%;
    margin: 10px;
}

.leaderCase {
    background-color: #e1a231;
    color: #62450b;
    border: 1px solid #9f701a;
}

.coLeaderCase{
    background-color: silver;
    color: #4b4b4b;
    border: 1px solid rgba(94, 94, 94, 0.52);
}

.row{
    background-color: #eae8e8;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    animation: append-list-animate .2s ease-in-out;
}

.row:hover{
    cursor: pointer;
    transform: scale(1.025);
    transition: 0.2s ease;
    background-color: #dedddd;
}

.role{
    padding: 3px;
    border-radius: 5px;
}

.memberDetailsContainer{
    animation: append-member-animate .2s linear;
}

@keyframes append-list-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes append-member-animate {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

