.memberDetails{
    background-color: #eae8e8;
    margin: 5px;padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.memberTitle{
    font-weight: bold;
    font-size: 25px;
    margin-right: 5px ;
}

.memberSubtitle{
    display: flex;
    font-size: 12px;
}
